* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
}

.google-main-container {
    padding-top: 20px;
    position: relative;
    margin: 0 auto;
}

.top-nav ul {
    float: right;
    padding: 0 30px;
}

.top-nav ul li {
    margin: 2px 10px;
    display: inline-block;
    vertical-align: middle;
}

.top-nav ul li a {
    text-decoration: none;
    color: black;
}

.top-nav ul li a:hover {
    text-decoration: underline;
}

#google-apps {
    background-image: url("./993522.avif");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    height: 15px;
    width: 15px;
}

#user-profile {
    width: 32px;
    height: 32px;
    background-image: url("./user.png");
    background-size: contain;
    border-radius: 50%;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.logo-container {
    padding-top: 100px;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 250px;
}

.search {
    width: 80%;
    border: 1px solid rgb(184, 163, 163);
    display: flex;
    padding: 4px 20px;
    align-items: center;
    margin: 2rem auto;
    border-radius: 50px;
}

.search input {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
}


.search img {
    width: 15px;
}

.buttons {
    width: 300px;
    margin: 20px auto;
}

button {
    border: 1px solid white;
    color: #757575;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
}

button:hover {
    border: 1px solid #b8b8b8;
}

.languages {
    width: 80%;
    margin: 50px auto;
    padding: 1.5rem 6.5rem;
    /* display: flex;
    position: center;
    align-items: center; */
}

.languages a {
    text-decoration: none;
    margin: 5px 10px;
}

.languages .lang {
    display: inline;
    text-align: center;
    margin-bottom: 1rem;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    border-top: 1px solid #ccc;
    padding: 20px 0;
}


.footer ul li {
    display: inline-block;
    padding: 0 15px;
    color: #666;
}

.footer a {
    text-decoration: none;
    color: #666666;
    font-size: 15px;
    height: 40px;
}

.left-footer {
    float: left;
}

.right-footer {
    float: right;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 573px) {
    .logo img {
        width: 80%;
        margin: 0 auto;
    }

    .main {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
    }
}

@media screen and (max-width: 346px) {
    .buttons {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .left-footer {
        text-align: center;
    }
}